@model TrabalhoLab.Models.Comenta

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Comenta</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomeAutorComentário)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomeAutorComentário)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Comentário)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Comentário)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataComentario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataComentario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdPost)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdPost)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdComentário">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
